*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.hg/
.hgignore
gradlew.bat
gradlew
.idea/
app/src/test/
gradle/
